:host {
  flex: 7;
  margin: 0 3.125rem;
}

:host md-input {
  width: 100%;
  display: block;
}

:host md-input .md-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

:host md-input .md-input-table {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 3px;
  padding: 0.3125rem 0.625rem;
}

:host md-input .md-input-underline {
  display: none;
}

:host md-input .md-input-wrapper {
  margin: 0;
}
