:host {
  position: relative;
}

:host dot-notifications-list {
  font-size: 0.875rem;
  margin: 0 1rem;
}

:host .badge {
  background-color: #EE5C4A;
  border-radius: 2px;
  font-size: 0.75rem;
  line-height: 0.75rem;
  padding: 2px 5px;
  position: absolute;
  right: 0;
  top: 0;
}

:host .toolbar-notifications {
  width: 350px;
}

:host .toolbar-notifications:before {
  background: #FFF;
  content: "";
  height: 10px;
  position: absolute;
  right: 15px;
  top: -5px;
  transform: rotate(45deg);
  width: 10px;
}

:host .toolbar-notifications__content {
  height: 320px;
  overflow: scroll;
}

:host .toolbar-notifications__heading {
  display: flex;
  margin-bottom: 0.625rem;
  justify-content: space-between;
  padding: 0.75rem 1rem 0;
}

:host .toolbar-notifications__title {
  align-self: center;
  font-size: 1.125rem;
  margin: 0;
}
